@attribute [Route(Paths.HomePage)]

<PageTitle>
   Home
</PageTitle>

<div class="text-center mt-5">
   <h1>
      Guess The Song
   </h1>
   <p>
      Choose an option below to get started:
   </p>

   <div class="mt-4">
      <button @onclick="CreateRoom"
              class="btn btn-primary me-2">
         Create Room
      </button>
      <button @onclick="JoinRoom"
              class="btn btn-secondary">
         Join Room
      </button>
   </div>
</div>
